<br>
<br>
<br>
<br>
<br>
<div class="container text-center anim">
  <h1 class="mb-4 display-3">This is main page of:</h1>
  <h1 class="mb-5">Book Summary Site</h1>
  <a routerLink="books" class="btn btn-outline-primary btn-lg">Start reading now!</a>
</div>
<div class=" container text-right no-anim" style="margin-top: 241px;">
  <img src="https://ice-recruitment.com/wp-content/uploads/2019/01/summary.jpg" alt=""
    style="max-width:100%;height:auto;">
</div>
