<br>
<br>
<br>
<br>
<br>
<br>
<div class="container" style="max-width: 400px;">
  <form style="text-align: center;">
    <div class="form-group">
      <label for="username">User Name</label>
      <input type="username" class="form-control" id="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" class="form-control" id="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
