<div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
  <div class="modal-dialog my-0">
    <div class="modal-content rounded-0">
      <div *ngIf="!edit" class="modal-body">


        <!-- Book Info -->
        <div class="modal-dialog mt-0 mb-3">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">📖 {{ book?.title }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <b>Author:</b>
              <div>{{ book?.author }}</div>
              <br>
              <b>Release year:</b>
              <div>{{ book?.release_year }}</div>
            </div>
          </div>
        </div>


        <!-- New Summary -->
        <div *ngIf="isLoggedIn()" class="modal-dialog mt-0 mb-3">
          <div class="modal-content">
            <div class="modal-body">
              <form (ngSubmit)="createSummary(heroForm)" #heroForm="ngForm" ngNativeValidate>
                <div class="form-group">
                  <label for="message-text" class="h5">📮 New Summary</label>
                  <textarea ngModel name="text" required class="form-control" id="message-text"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Post New Summary</button>
              </form>
            </div>
          </div>
        </div>


        <!-- Summaries -->
        <hr>
        <div *ngFor="let summary of summaries" class="modal-dialog  mt-0 mb-3">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">📜 by: {{ summary.author }}</h5>
              <button *ngIf="isOwnerOrAdmin(summary.author) && !summary.editing" (click)="deleteSummary(summary.id)"
                type="button" class="close" aria-label="delete">
                <span aria-hidden="true"><img src="assets\delete-black-18dp.svg" alt="delete" style="width: 30px;"></span>
              </button>
            </div>
            <div class="modal-body">
              <b>Summary Text:</b>
              <hr>
              <div *ngIf="!summary.editing">{{ summary.text }}</div>
              <textarea *ngIf="summary.editing" (change)="summary.newText=$event.target"
                class="form-control">{{ summary.text }}</textarea>
            </div>
            <div class="modal-footer justify-content-start">
              <div *ngIf="isOwnerOrAdmin(summary.author)">
                <button (click)="summary.editing=!summary.editing" type="button" class="btn btn-warning btn-sm mr-2">
                  ✏ Edit</button>
                <button *ngIf="summary.editing"
                  (click)="updateSummary(summary.id, summary.newText.value); summary.editing=!summary.editing"
                  type="button" class="btn btn-success btn-sm">Save</button>
              </div>
              <div class="ml-auto h6">{{ summary.votes }}</div>
              <button (click)="upvote(summary.id, summary.vote_status)" type="button"
                class="btn btn{{ summary.vote_status === 1 ? '': '-outline' }}-success btn-sm">👍</button>
              <button (click)="downvote(summary.id, summary.vote_status)" type="button"
                class="btn btn{{ summary.vote_status === -1 ? '': '-outline' }}-danger btn-sm">👎</button>
            </div>
          </div>
        </div>


        <!-- No summaries -->
        <div *ngIf="!summaries?.length" class="modal-dialog text-center text-muted mt-5 h5">
          <div class="modal-content">
            <div class="modal-body">
              ⚠️ No summaries yet (add one) ⚠️
            </div>
          </div>
        </div>


      </div>
      <div *ngIf="edit">


        <!-- Book Edit/Create -->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">📖 {{ book == null ? 'New book' : book.title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="book ? updateBook(heroForm2) : createBook(heroForm2)" #heroForm2="ngForm" ngNativeValidate>
            <div class="form-group">
              <label><b>Book title:</b></label><br>
              <input ngModel="{{ book?.title }}" name="title" required type="text" class="form-control">
              <br>
              <label><b>Book author:</b></label><br>
              <input ngModel="{{ book?.author }}" name="author" required type="text" class="form-control">
              <br>
              <label><b>Release year:</b></label><br>
              <input ngModel="{{ book?.release_year }}" name="release_year" required type="number" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">{{ book ? 'Edit book' : 'Crete book' }}</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>