<br>
<br>
<br>
<div class="container" style="max-width: 400px;">
  <form (ngSubmit)="onSubmit(heroForm)" #heroForm="ngForm" style="text-align: center;" ngNativeValidate>
    <h3>Log In</h3>
    <br>
    <div class="form-group">
      <label for="username">User Name</label>
      <input ngModel name="username" type="username" required class="form-control" id="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input ngModel name="password" type="password" required class="form-control" id="password">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
