<br>
<br>
<br>
<div class="container table-responsive">
  <div data-toggle="modal" data-target="#bookModal">
    <div *ngIf="isAdmin()" (click)="edit=true;selected=null" class="text-right py-2">
      <button class="btn btn-success btn-sm">New Book</button>
    </div>
    <table class="table table-hover">
      <thead (click)="$event.stopPropagation()">
        <tr data-toggle="modal">
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Realease Year</th>
          <th scope="col" *ngIf="isAdmin()" class="text-right">Admin actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books; index as i;">
          <th scope="row">{{ book.id }}</th>
          <td (click)="edit=false;selected=books[i]">{{ book.title }}</td>
          <td (click)="edit=false;selected=books[i]">{{ book.author }}</td>
          <td (click)="edit=false;selected=books[i]">{{ book.release_year }}</td>
          <td (click)="selected=books[i]" *ngIf="isAdmin()" class="text-right">
            <div class="btn-group" role="group" aria-label="Admin">
              <button (click)="edit=true;selected=books[i]" class="btn btn-primary btn-sm">edit</button>
              <button (click)="deleteBook(book.id);$event.stopPropagation()" class="btn btn-danger btn-sm">delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-bookview #bookModal [book]="selected" [edit]="edit" (newItemEvent)="loadBook($event.id, $event)"></app-bookview>
