<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink="">🌐 Book Summary Site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">🏡 Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="books" routerLinkActive="active">📚 Books</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0 mx-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <ul class="navbar-nav">
      <li class="nav-item mb-2 mb-md-0 ml-md-2" *ngIf="!isLoggedIn()">
        <a class="btn btn-outline-success" routerLink="login">Login</a>
      </li>
      <li class="nav-item mb-2 mb-md-0 ml-md-2" *ngIf="!isLoggedIn()">
        <a class="btn btn-outline-success" routerLink="register">Register</a>
      </li>
      <li class="nav-item mb-2 mb-md-0 ml-md-2" *ngIf="isLoggedIn()">
        <!-- <a class="btn btn-outline-success" routerLink="user">{{ getUsername() }}</a> -->
        <a class="btn btn-outline-success">{{ getUsername() }}</a>
      </li>
      <li class="nav-item ml-md-2" *ngIf="isLoggedIn()">
        <a class="btn btn-outline-success" (click)="logOut()">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="bg-dark py-4 text-white mt-auto">
  <div class="text-center">Copyright © 2020 Justas</div>
  <div class="text-center">All Rights Reserved</div>
</footer>
