/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Montserrat', sans-serif;
}

.container:not(.no-anim) {
    animation: slide .5s ease-out;

    @keyframes slide {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
  }
}
