<br>
<br>
<br>
<div class="container" style="max-width: 400px;">
  <form (ngSubmit)="onSubmit(heroForm)" #heroForm="ngForm" ngNativeValidate style="text-align: center;">
    <h3>Register</h3>
    <br>
    <div class="form-group">
      <label for="username">User Name</label>
      <input ngModel name="username" required type="username" class="form-control" id="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input ngModel name="password" required type="password" class="form-control" id="password">
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input ngModel name="email" required type="email" class="form-control" id="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group form-check">
      <input ngModel name="egree" required type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">I agree with terms of use</label>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
